* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: rgb(243,243,243);
    margin-left: 3cm;
    margin-bottom: 2cm;
    margin-right: 3cm;
}


h1 {
    display: flex;
    margin-top: 3cm;
    margin-left: 2cm;
    padding-top: 50px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}


nav, li, a, u {
    display: flex;
    flex-direction: row;
    color: black;
    padding: 3px;
}
.menu {
    margin-left: 2cm;
}

.personaje {
    margin-top: -150px;
    margin-left: 700px;
    align-items: end;
    display: flex;

}

img {
    display: flex;
    float: right;
    border: 3px solid silver;
    border-radius: 10px;
    height: 300px;
}

.card1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.texBox {
    margin-top: 30px;
    max-width: 500px;
    display: flexs;
    flex-direction: column;
}

.texBox2 {
    max-width: 250px;
    margin-right: 150px;
}

hr {
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(108,107,107);
}

.texBox p {
    color: darkgray;
    margin-top: 30px;
}

.more {
    padding: 15px 25px;
    margin-top: 160px;

}
